# Ignorar archivos compilados de Java
*.class

# Ignorar directorios de compilación
target/
build/

# Archivos de configuración de editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros archivos temporales
*.log
*.tmp
